.block-a{
	margin: 0 0 20px 0;
}
.block-b{
	margin: 0 0 16px 0;
}
.block-c{
	margin: 0 0 12px 0;
}
.block-d{
	margin: 0 0 8px 0;
}

.test{
	width: 10px;
	height: 10000px;
	background: yellow;
}

.page{
	margin: 50px 100px;
	&_title{
		text-transform: uppercase;
		@include text(18, 20);
	}
}

.field-input{
	@include inlineMiddle();
	@include text(12, 20);
	border: 1px solid #ccc;
	
	padding: 3px 8px;
	height: 20px;
	&.__short{
		min-width: 16px;

	}
}